<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <h1 id = "page-heading">Contact List</h1>
    <div class = "list">
        <% for(let i of contact_list) { %>
          <% if(i.createdby == currUserEmail) {%>
          <div class="details">
            <p><%= i.name %></p>
            <span>
              <div class="edit">
                <a href="/update-contact/?id=<%= i._id %>">
                    <i><button>edit</button></i>
                </a>
            </div>
            <div>
              <a href="/delete-contact/?id=<%= i._id %>">
              <button class = "del">del</button>
            </a>
            </div>
            </span>
          </div>
          <% } %>
        <% } %>
    </div>
    <form action="/create-contact" method="POST">
      <input type="text" name="name" placeholder="Enter Name" required>
      <button type="submit">Add</button>
    </form>

    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>