<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <!-- <h1>playground</h1> -->
    <ul>
      <% for(let i = 1;i < 10;i++){ %>
        <li>
          <%= i %>
        </li>
      <% } %>
    </ul>
    <h1>Its true</h1>
  </body>
</html>